



.Tag {
  text-align: center;
  align-items: center;
  font-size: larger;
  background-color: #ffe600;
  width: 70px;
  height: 35px;
  position: fixed;
  top: 5px;
  right: 0;
  border-top-left-radius: 30px; /* Adjust the radius value as needed */
  border-bottom-left-radius: 30px; 
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  
}

.Tag:hover {
  background-color: #ddc704;
}


/* body, html,iframe {
  overflow: hidden;
  width: 300px !important;
  height: 225px !important;
  
} */

.header {
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;   
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinning {
  animation: spin 1s linear infinite;
}

.hyperlink {
  color: #00aaff
}

@font-face {
  font-family: 'DINCondensed-Regular.ttf';
  src: url('./assets/DINCondensed-Regular.ttf') format('truetype'),
       url('./assets/DINCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.app {
  width: 300px;
  height: 225px;
  background-color: #1E1E1E ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
  flex: 5;
}


.settings {
  width: 300px;
  height: 400px;
  background-color: #1E1E1E ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
}


.textBox  {
  width: 260px;
  height: 135px;
  margin: 10px; /* Combine all margins into one shorthand */
  background-color: #272727;
  color: #E0E0E0;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #7f7f7f;
  overflow: auto; /* Use 'auto' instead of 'scroll' for better user experience */
  
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


.textBox:hover  {
  color: #ffe600;
  border: 0.5px solid #ffe600
}

.textBox:focus {
  outline: none !important;
  color: #ffe600;
  border: 0.5px solid #ffe600
}

.buttonContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.textBoxContainer {
  width: 100%;
  height: 175px;

}

.messageTemplateContainer {
  width: 100%;
  height: 200px;

}

.dropDownContainer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centers vertically */
  justify-content: center;
}

.button {
  display: flex;           
  justify-content: center;  
  align-items: center;  
  flex: 1;
  background-color: #333333;
  color: #E0E0E0;
  border-radius: 4px;
  border: 0.5px solid #7f7f7f;;
  margin-bottom: 10px;
  
}

.copyButton {
  font-size: 1.3rem;
  margin-left: 10px;
  margin-right: 5px;
}

.reloadButton {
  font-size: 1.5rem;
  margin-left: 5px;
  margin-right: 5px;
}

.resetButton {
  font-size: 1.3rem;
  margin-left: 100px;
  margin-right: 100px;
}
.settingsButton {
  font-size: 1.3rem;
  margin-left: 5px;
  margin-right: 10px;
}

.button:hover {
  color: #ffe600;
  border: 0.5px solid #ffe600;
}


.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
  max-height: 135px; /* Assuming you want to match the height of your textBox */
  overflow-y: auto; /* Makes it scrollable vertically if the content overflows */
  position: relative; /* To position the editIcon correctly */
}



.editIcon {
  position: absolute;
  top: 15px;    /* Adjust as necessary */
  right: 15px;  /* Adjust as necessary */
  cursor: pointer; /* Make it look clickable */
  z-index: 2;  /* Make sure it appears above other content */
}

/* Ensure that the text or textarea doesn't go under the icon */

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  color: #E0E0E0; /* Change the color if needed */
  z-index: 2;
}

.backButton:hover {
  color: #ffe600;
}

.selectBoxContainer {
  width: 260px;
  height: 40px; 
}

.selectBox {
  width: 280px;
  height: 40px; /* Typically, a dropdown/select box is not as tall as a textbox. Adjust this as needed. */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #272727;
  color: #E0E0E0;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #7f7f7f;
  appearance: none; /* This removes the default style in some browsers */
  padding-right: 25px; /* Space for the icon */
  -webkit-appearance: none; /* Remove default appearance for select on some browsers */
  -moz-appearance: none;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  color: #E0E0E0;
}

.dropdown-icon {

  position: absolute;
  right: 15px; /* Adjust based on your needs */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Make sure click events pass through the icon to the select element */
}

.selectBox:focus {
  outline: none !important;

}

.selectBox:hover  {
  color: #ffe600;
  border: 0.5px solid #ffe600
}


.dropdown-container:hover {

  color: #ffe600;
}